<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>消息内容</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/static/app.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="message">
        <div class="container">
            <h1 class="message-title"><span :class="'theme-' + parseTitle(message.title).theme"></span>{{parseTitle(message.title).title}}</h1>
            <div class="message-date">{{message.date}}</div>
            <div class="message-content markdown" v-if="isMarkMsg(message)" v-html="renderMark(message.content)"></div>
            <div class="message-content" v-else-if="isChartMsg(message)"><chart :option="JSON.parse(message.content)"></chart></div>
            <div class="message-content" :class="message.type == 'data' ? 'data' : ''" v-else>
                <div v-for="(text, index) in renderText(message.content)" :key="index">{{text}}</div>
            </div>
        </div>
        <div class="float-tools" v-if="id > 0">
            <div class="button-cirle" @click="delMessage"><img class="icon" src="/static/icon/delete.svg"></div>
        </div>
    </div>

    <script src="/static/vue.global.js"></script>
    <script src="/static/markdown-it.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/chart.js"></script>
    <script>
        const {createApp} = Vue;
        const app = createApp({
            components: {Chart},
            data() {
                return {
                    id: 0,
                    message: {},
                    md: null,
                }
            },
            mounted() {
                this.init();
            },
            methods: {
                init() {
                    if (query.get('id')) {
                        this.id = parseInt(query.get('id'));
                        this.getMessage();
                    } else {
                        WebToast('消息ID不能为空');
                    }

                    bc.onmessage = e => {
                        if(e.data.type == 'new_message' && e.data.detail.id == this.id) {
                            console.log('new_message', e.data.detail);
                            this.setMessage(e.data.detail);
                        }
                    };
                },
                getMessage() {
                    window.GoGetMessage(this.id).then(msg => {
                        this.setMessage(msg);
                    });
                },
                setMessage(msg) {
                    this.message = msg;
                },
                delMessage() {
                    if(!this.id) {
                        return WebToast('消息不存在或已删除！');
                    }
                    WebConfirm('确定删除？', action => {
                        if(action != 'ok') {
                            return;
                        }
                        window.GoDelMessage(this.id).then(res => {
                            if(res == true) {
                                bc.postMessage({'type': 'message_del', 'detail': {...this.message}});
                                this.id = 0;
                                this.setMessage({});
                                WebToast('删除成功!');
                            } else {
                                WebToast('删除失败!');
                            }
                        });
                    });
                },
                isMarkMsg(msg) {
                    return isMarkMsg(msg);
                },
                isChartMsg(msg) {
                    return isChartMsg(msg);
                },
                renderMark(content) {
                    if(!this.md) {
                        this.md = markdownit({html: true, linkify: false});
                    }
                    return this.md.render(content);
                },
                renderText(content) {
                    return (content + '').split("\n");
                },
                parseTitle(title) {
                    return parseTitle(title);
                },
            }
        }).mount('#app');
    </script>
</body>
</html>