<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>消息插件</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/static/app.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="gray">
        <div class="container">
            <div class="plugin-item" v-for="(item, index) in list" :key="item.id">
                <div class="plugin-title" @click="addPlugin(item.id)">{{item.title}}</div>
                <div class="plugin-action">
                    <div class="plugin-up" @click="SwapSort(index, 'up')">
                        <svg xmlns="http://www.w3.org/2000/svg" :fill="index == 0 ? grayColor : mainColor" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-525 291-336l-51-51 240-240 240 240-51 51-189-189Z"/></svg>
                    </div>
                    <div class="plugin-down" @click="SwapSort(index, 'down')">
                        <svg xmlns="http://www.w3.org/2000/svg" :fill="index == listLen - 1 ? grayColor : mainColor" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-333 240-573l51-51 189 189 189-189 51 51-240 240Z"/></svg>
                    </div>
                    <div class="plugin-check" @click="toggleState(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" v-show="item.state == 0" :fill="grayColor" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480.28-96Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" v-show="item.state == 1" :fill="mainColor" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480.23-288Q560-288 616-344.23q56-56.22 56-136Q672-560 615.77-616q-56.22-56-136-56Q400-672 344-615.77q-56 56.22-56 136Q288-400 344.23-344q56.22 56 136 56Zm.05 192Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/></svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="float-tools">
            <div class="button-cirle" @click="addPlugin()"><img class="icon" src="/static/icon/add.svg"></div>
        </div>
    </div>

    <script src="/static/vue.global.js"></script>
    <script src="/static/app.js"></script>
    <script>
        const {createApp} = Vue;
        const app = createApp({
            data() {
                return {
                    mainColor: '#46bc99',
                    grayColor: '#999999',
                    list: [],
                    listLen: 0,
                }
            },
            mounted() {
                this.init();
            },
            methods: {
                init() {
                    bc.onmessage = e => {
                        switch(e.data.type) {
                            case 'plugin_change':
                                this.getList();
                                break;
                        }
                    };

                    this.getList();
                },
                getList() {
                    window.GoGetPluginList().then(list => {
                        this.list = list;
                        this.listLen = list.length;
                    });
                },
                addPlugin(id=0) {
                    window.GoOpenPluginEdit(id);
                },
                SwapSort(index, updown) {
                    if(index == 0 && updown == 'up') {
                        return WebToast('已经是第一个了');
                    } else if(index == this.listLen - 1 && updown == 'down') {
                        return WebToast('已经是最后一个了');
                    }
                    window.GoSwapPlugin(this.list[index], this.list[updown == 'up' ? index - 1 : index + 1]).then(res => {
                        this.getList();
                    }).then(res => {
                        bc.postMessage({'type': 'plugin_change', 'detail': {}});
                    });
                },
                toggleState(plugin) {
                    plugin.state = plugin.state == 0 ? 1 : 0;
                    window.GoEditPluginState(plugin).then(res => {
                        this.getList();
                    }).then(res => {
                        bc.postMessage({'type': 'plugin_change', 'detail': {}});
                    });
                }
            }
        }).mount('#app');
    </script>
</body>
</html>